.resulte-body{
    display: none;
    margin-top: 2vh;
    
    
.container-result {
    border: 1px solid #333;
    border-radius: 4px;
    animation: border-turn 5s linear infinite;
}


    button{
        width: 12vw;
        @media (max-width : $max-mobile){
            width: 21vw;
        }

        p {
            font-size: 1vw;
            font-weight: bold;
            color: $strock-color;
            // text-align: center;
            @media (max-width : $max-mobile){
                font-size: 2vw;
            }
        }
    }
    .container-respons{
        
        height: 65vh;
        overflow-y: scroll;
        @media (max-width : $max-mobile){
            height: 73vh;
        }
        // @media (max-width : $max-small){
        //     height: 83vh;
        // }
        @media (max-width : $max-mobile){
            height: 67vh;
        }


        .card{
            margin-bottom: 5px;
            margin-right: 5px;
        }
        
    }
}

// .result{
//     @include text-style();
// }

.right-respons {
    color: green;
    font-size: 32px;
}

.wrong-respons {
color: red;
font-size: 32px;
}

.pousontage {
color: blue;
font-size: 32px;
}
.try-again{
    color: rgb(6, 176, 254);
    font-size: 32px;
}