header{
    
    .mask{
        background-color: rgba(255, 0, 0, 0.068)
    }
    .titlel{
        img{
            @media (max-width : $max-mobile){
                width: 90%;
            }
        }
        color: whitesmoke;
        h1{
            color: whitesmoke;
            font-weight: bold;
            font-size:12vw;
            font-family: 'Poiret One', cursive;
        }
        h5{
            font-size: 2.25vw;
            color:darken($color: #BD9166, $amount: 35);
            @media (max-width : $max-mobile){
                font-size: 6vw;
            }
        }

        button{
            color: $strock-color;
        }
        a{
            text-decoration: none;
            color: $strock-color;
        }
    }

}

$card-bg-color: #fff;
$card-text-color: #000;
cardd {
    background-color: $card-bg-color;
    color: $card-text-color;
    display: inline-block;
    padding: 1em;
    text-align: center;
  }
  div {
    & cardd {
      font-weight: bold;
    }
  }
  @mixin rounded-corners {
    border-radius: 5px;
  }
  
  cardd {
    @include rounded-corners;
  }
      

  @keyframes flip {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  cardd {
    animation: flip 1s linear infinite;
  }
    